body{
	font-size: 20px;
	font-family: sans-serif;
	color: #333;
}

.quizInfo{
	background-color: rgb(1, 5, 219);
	color: #fff;
	border: 10px auto 10px auto;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin: 20px auto;
	width: 70%;
	text-align: center;
}

.preQuizInfo{
	font-size: 32px;
	font-weight: 600;
	padding: 10px;
}

.question{
	font-weight: 600;
	margin: 5px auto 5px auto;
	text-align: center;
}

.option{
	background-color: #297;
	color: #fff;
	border: 10px auto 10px auto;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin: 20px auto;
	width: 30%;
}
.option:hover{
	background-color: #3a8;
} 